
.showcase{
    background: url('src/images/landingPageBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

@media screen and (max-width: 480px){
    .showcase{
        background-position: -500px 0;
    }
}